<title>
  {%- if page_title -%}{{ page_title }} — {{ shop.name }}{%- else -%}{{ shop.name }}{%- endif -%}
</title>
{%- if page_description -%}<meta name="description" content="{{ page_description | escape }}">{%- endif -%}
